/.quarto/
**/*.quarto_ipynb

# Allow README and GitHub workflows
!README.md
!.github/

*.md
*.html
*.pdf
*.docx
*.doc
*.txt
*.xlsx
*.xls
*.xlsm
*.xlsb
*.xlsb
/.luarc.json
data/*

*.js
*.css
*.mp4
*.mp3
*.wav
*.ogg

*.pdf
*.woff
*.tex

.*/
R/*

*cache*
**/cache/**
**/*cache*/
