/.quarto/
**/*.quarto_ipynb

*.md
*.html
*.pdf
*.docx
*.doc
*.txt
*.csv
*.xlsx
*.xls
*.xlsm
*.xlsb
*.xlsb
/.luarc.json
data/*

*.js
*.css
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.webp
*.mp4
*.mp3
*.wav
*.ogg

*.pdf
*.woff
*.tex
